$primary: #3850b7;

@import "dist/bulma/bulma.sass";
@import "dist/bulma-prefers-dark/bulma-prefers-dark.sass";


.delete-site-btn {
	padding: 0px 7px;
    height: 1.7em;
}

.is-spaced {
	margin-top: 1.5em;
}

#add-site-form input[type=checkbox], #add-site-form .checkbox {
	height: 100%;
    vertical-align: middle;
}